{% extends 'backoffice/layout.html.twig' %}

{% block title %}Styles
{% endblock %}

{% block content %}
    <h1>Style : {{ style.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ style.id }}</td>
            </tr>        
            <tr>
                <th>Lieu</th>
                <td>{{ style.name }}</td>
            </tr>            
                <th>Créé le</th>
                <td>{{ style.createdAt ? style.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ style.updatedAt ? style.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backoffice_style_index') }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Retour à la liste</a>

    <a href="{{ path('backoffice_style_edit', {'id': style.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Modifier</a>

    {{ include('backoffice/style/_delete_form.html.twig') }}
{% endblock %}
