{% extends "backoffice/layout.html.twig" %}

{% block content %}

    <h2>Ajout d'un utilisateur</h2>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.firstname, {'attr': {'class':'geronimo'}}) }}
        {{ form_row(form.lastname, {'attr': {'class':'geronimo'}}) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

    <p>
        <a href="{{ path('backoffice_user_index') }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Retour à la liste</a>
    </p>

{% endblock %}