{% extends 'backoffice/layout.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block content %}
    <h1>Modifier un Linker</h1>

    <p>
        <a href="{{ path('backoffice_user_index', {id:user.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Tous les utilisateurs</a>
        |
        <a href="{{ path('backoffice_user_add', {id:user.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Ajouter un utilisateur</a>
    </p>

    {{ include('backoffice/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backoffice_user_index') }}">Retour à la liste</a>

    {{ include('backoffice/user/_delete_form.html.twig') }}
{% endblock %}