<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GetLinked<img src="https://img.icons8.com/color-glass/48/000000/playlist.png"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{{path('backoffice_index')}}">Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('backoffice_event_index')}}">Événements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('backoffice_user_index')}}">Linkers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('backoffice_user_artists')}}">Artistes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{path('backoffice_user_promoters')}}">Organisateurs</a>
            




          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('backoffice_style_index')}}">Styles de musique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('backoffice_category_index')}}">Types d'établissements</a>
          </li>
          
        </ul>
        {# {% if app.adminuser %} #}
          <li class="nav-item dropdown dropright">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{# {{ app.adminuser.firstname }} #} Profil</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{# {{path('backoffice_adminuser_show', {'id': adminuser.id}) }}">Mon profil</a>
              <a class="dropdown-item" href="{{path('backoffice_adminuser_index')}}">Administrateurs du site</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{# {{path('app_logout')}} #}">Déconnexion</a>
            </div>
          </li>
        {# {% else %} #}
            <li class="nav-item">
              <a class="btn btn-dark my-2 my-sm-0 col-sd-1" aria-current="page" href="{# {{ path('app_login') }} #}">Se connecter</a>
            </li>
        {# {% endif %} #}
        {# <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Tapez votre recherche ici">
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Rechercher</button>
        </form> #}
      </div>
    </div>
  </nav>
</header>