{% extends 'backoffice/layout.html.twig' %}

{% block title %}
    Administrateurs -
    {{parent()}}
{% endblock %}

{% block content %}
<h1>Liste des administrateurs du Backoffice -</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Création le</th>
                <th>Mis à jour le</th>
            </tr>
        </thead>
        <tbody>
            {% for adminuser in adminusers %}
                <tr>
                    <td>{{ adminuser.id }}</td>
                    <td>{{ adminuser.email }}</td>
                    <td>{{ adminuser.roles ? adminuser.roles|json_encode : '' }}</td>
                    <td>{{ adminuser.firstname }}</td>
                    <td>{{ adminuser.lastname }}</td>
                    <td>{{ adminuser.createdAt ? adminuser.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ adminuser.updatedAt ? adminuser.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('backoffice_adminuser_show', {'id': adminuser.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Voir le détail</a>
                        <a href="{{ path('backoffice_adminuser_edit', {'id': adminuser.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Modifier le profil</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun administrateur trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backoffice_adminuser_add') }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Ajouter</a>
{% endblock %}
